<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <userSettings>
        <Shortcut.Properties.Settings>
            <setting name="WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>381, 520</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>839, 254</value>
            </setting>
        </Shortcut.Properties.Settings>
    </userSettings>
</configuration>